---
const { img, name, description } = Astro.props;
---

<section class="py-9 lg:flex">
  <div class="w-full flex justify-center lg:flex-none lg:w-auto">
    <figure class="border border-black max-w-xs">
      <img class="" src={img} alt="Tecnología de vanguardia"/>
    </figure>
  </div>
  <div class="pt-5 lg:pl-5 lg:pt-0">
    <p class="bold text-xl">{name}</p>
    <p>
      {description}
    </p>
  </div>
</section>