<aside>
    <form class="searchMobile">
        <input class="outline-none bg-[#1B75BB] placeholder-white" type="search" required minlength="2" maxlength="24" name="search2" id="search2" placeholder="Buscar producto">
    </form>
</aside>

<script>
    import DOMPurify from "dompurify";
    const form2 = document.getElementsByClassName("searchMobile");
    form2[0]?.addEventListener("submit", (e)=>{
        e.preventDefault();
        const formData = new FormData(form2[0] as HTMLFormElement);
        const searchTerm = DOMPurify.sanitize(formData.get("search2")?.toString());
        if(!searchTerm || searchTerm.length ===0) return;
        const url = new URL("/buscarProductos", window.location.origin);
        url.searchParams.set("q", searchTerm);
        window.location.assign(url.toString());
    })
</script>

