<aside>
    <form class="form">
        <input class="outline-none" type="search" required minlength="2" maxlength="24" name="search" id="search" placeholder="Buscar producto">
    </form>
</aside>

<script>
    import DOMPurify from "dompurify";
    const form = document.querySelector("form");
    form?.addEventListener("submit", (e)=>{
        e.preventDefault();
        const formData = new FormData(form);
        const searchTerm = DOMPurify.sanitize(formData.get("search")?.toString());
        if(!searchTerm || searchTerm.length ===0) return;
        const url = new URL("/buscarProductos", window.location.origin);
        url.searchParams.set("q", searchTerm);
        window.location.assign(url.toString());
    })
</script>