<section class="px-[35px] pt-6 pb-7 md:col-span-2 md:px-[81px] lg:col-span-1 lg:pl-20">
  <header>
    <p class="mt-4">También ofrecemos mantenimiento preventivo y/o correctivo de:</p>
  </header>
  <footer class="mt-4">
    <ul class="[&>li]:flex [&>li]:gap-x-3 [&>li]:items-start md:columns-2">
      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Balanzas</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Básculas de mesa y suelo</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Termo-balanzas</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Equipo de análisis químico</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Refractómetros</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Centrífugas</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Incubadoras</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Hornos</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Tituladores</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Agitadores magnéticos</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Microscopios</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Estereoscopios</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Microscopios de comparación y quirúrgicos</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Rota evaporadores</p>
        </div>
      </li>

      <li>
        <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
          <img
            src="/assets/Ellipse.svg"
            alt=""
            class="object-cover rounded inline-block mt-1"
          />
          <p>Baño refrigerante de recirculación, baño María.</p>
        </div>
      </li>
    </ul>
  </footer>
</section>
