---
import Layout from '../layouts/Layout.astro';

import enviarFormulario from '../components/Contacto/ContactoService';
---
<!-- <script src="../components/Contacto/ContactoService.js"></script> -->
<Layout title="Contáctenos">
	<main>

		
    
	</main>
</Layout>