---
import Layout from '../layouts/Layout.astro';

import ContactForm from '../components/Contacto/ContactForm';
---

<Layout title="ExacTec - Contáctenos">
  <main class="px-[35px] bg-[#FFF] py-[55px]">
    <ContactForm client:load />
  </main>
</Layout>
