---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Services from '../components/Services.astro';
import InfoProducts from '../components/InfoProducts.astro';
import MisionVision from '../components/MisionVision.astro';
---

<Layout title="Inicio">
  <section class="flex flex-col items-center justify-center bg-[#FFF]">
    <Welcome />
    <Services />
    <InfoProducts />
    <MisionVision />
  </section>
</Layout>
