---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Inicio">
	<main>
		<!-- Section Bienvenido -->
    	<section class="flex items-center justify-center h-[444px] md:h-[469px] xl:h-[512] px-[35px] md:px-[83px] xl:px-[294px] bg-[#FFF]">
			<div class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left md:text-center xl:text-center w-[375px] md:w-[835px] xl:w-[1440px]">
				<p class="text-[26px] font-normal">
					<span class="leading-normal">¡Bienvenidos a Exactitud y Tecnología!</span>
				<br /><br />
				<span class="text-[16px] font-light">
					<span class="font-bold">Exactitud y Tecnología</span>, es una empresa guatemalteca que brinda el
					<span class="font-bold">soporte y asesoría</span> necesaria para iniciar, ejecutar, mantener los 
					proyectos y procesos <span class="font-bold">que mejorarán la eficacia de su empresa.</span>
				</span>
				<br /><br />
				<span class="text-[16px] font-light">
			  	Nuestro personal posee <span class="font-bold">experiencia con más de 28 años</span> en el 
			  	tratamiento de equipo de medición, capacitado en fábricas y firmas reconocidas a nivel mundial.
				</span>
			</div>
    	</section>

		<!-- Section division line -->
		<div class="hidden md:hidden xl:block h-[1px] w-[1240px] bg-[#C1C1C1] mx-auto"></div>
		<div class="hidden md:block xl:hidden h-[1px] w-[754px] bg-[#C1C1C1] mx-auto"></div>
		<div class="md:hidden xl:hidden h-[1px] w-[329px] bg-[#C1C1C1] mx-auto"></div>
		<!--  Section Nuestro servicios -->
		<section class="flex items-center justify-center h-[984px] md:h-[835px] xl:h-[958px] pl-[35px] md:pl-[51px] xl:pl-[205px] bg-[#FFF]">
			<div class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left w-[375px] md:w-[835px] xl:w-[1440px]">
				<div>
					<p class="text-[40px] font-normal">
						Nuestros servicios
					</p>
				</div>
				<br />
				<div class="container mx-auto text-[16px] font-light">
					<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2">
						<div class="md:col-span-1 xl:col-span-1">
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Venta y asesoría técnica especializada para instalación de equipos de laboratorios en general</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Ingeniería</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Medición</p>
							</div>
						</div>

						<div class="md:col-span-1 xl:col-span-1">
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Análisis y muestreo de productos</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Recolección de datos</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Software de pesaje</p>
							</div>
						</div>
					</div>
				</div>
				<br />
				<!-- Tablet image-->
				<div class="hidden md:block xl:hidden md:w-[444px] md:h-[486px] md:col-start-3 md:float-right md:mt-1">
					<img src=`img-nuestros-servicios.png` alt="Nuestros servicios" class="w-full object-cover rounded"/>
				</div>
				<div>
					<p class="text-[16px] font-light">
						Proveemos soporte técnico a diversos equipos de diferentes marcas como:
					</p>
				</div>
				<br />
				<div class="container mx-auto text-[16px] font-light">
					<div class="grid grid-cols-2 md:grid-cols-2 xl:grid-cols-2">
						<div class="md:col-span-1 xl:col-span-1">
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Ohaus</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Rice Lake</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Sartous</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Hi-Weigh</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">CAS</p>
							</div>
						</div>
						<div class="md:col-span-1 xl:col-span-1">
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Dini-Argeo</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Camry</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">AND</p>
							</div>
							<div class="flex flex-row md:flex-row xl:flex-row items-center">
								<img src=`Ellipse.svg` alt="" class="object-cover rounded inline-block"/>
								<p class="md:ml-4 xl:ml-4 pl-1">Fairbanks</p>
							</div>
						</div>

						<!-- Mobile image -->
						<div class="md:hidden xl:hidden w-[375px] h-[411px] mt-1">
							<img src=`img-nuestros-servicios.png` alt="Nuestros servicios" class="w-full object-cover rounded"/>
						</div>
					</div>
				</div>
			</div>
			<!-- Desktop image -->
			<div class="hidden md:hidden xl:block xl:mt-[250px] xl:w-[778px] xl:h-[852px] xl:col-start-3 xl:float-right">
				<img src=`img-nuestros-servicios.png` alt="Nuestros servicios" class="w-full object-cover rounded" />
			</div>
		</section>

		<!-- Section Le ayudamos a... -->
		<section class="flex flex-col items-center justify-center h-[1424px] md:h-[770px] xl:h-[870px] pl-[35px] md:pl-[81px] md:pt-[10px] xl:pl-[205px] xl:pr-[100px] xl:pt-[124px] bg-[#F1F7FB]">
			<div class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left w-[375px] md:w-[835px] xl:w-[1440px]">
				<div class="hidden md:block xl:block md:w-[290px] md:h-[539px] xl:w-[400px] xl:h-[743px] md:col-start-1 xl:col-start-1 md:float-left xl:float-left md:mr-[54px] xl:mr-[125px]">
					<img src="img-tecnologia-de-vanguardia.png" alt="Tecnología de vanguardia" class="w-[305px] h-[567px] object-cover rounded" />
				</div>
				<div class="md:grid md:grid-cols-2 md:gap-x-6 xl:grid xl:grid-cols-2 xl:gap-x-6 md:mr-[82px] xl:mr-[100px]">
					<div class="md:col-span-2 xl:col-span-2 xl:w-[610px]">
						<div>
							<p class="text-[40px] font-normal leading-normal">
								Le ayudamos a contar con tecnología de vanguardia
							</p>
						</div>
						<br />
						<div class="container mx-auto text-[16px] font-light leading[140%]">
							<p>Nos especializamos en venta de equipo de medición, soporte técnico, reparación, mantenimiento preventivo/correctivo 
								y calibración a equipos de laboratorio, medición y control.
								<br /><br />

								Exactitud y Tecnología posee las herramientas necesarias para realizar el ajuste y/o calibración a instrumentos 
								de pesaje acorde a las normas nacionales e internacionales de metrología aplicadas a los instrumentos de pesaje, 
								a través de personal calificado para realizarlo.
							</p>
						</div>
						<br />
						<div >
							<button type="button" onclick="location.href='./productos'" class="border border-[#1B75BB] w-[224px] h-[49px] text-[#1B75BB] hover:bg-[#1B75BB] duration-[0.4s] hover:text-white flex items-center justify-center xl:cursor-pointer text-[16px]">Ver productos</button>
						</div>
					</div>
					<br /><br />
					<div class="md:hidden xl:hidden mt-6">
						<img src="img-tecnologia-de-vanguardia.png" alt="Tecnología de vanguardia" class="w-[305px] h-[567px] object-cover rounded" />
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
<style>
</style>
