---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Services from '../components/Services.astro';
import InfoProducts from '../components/InfoProducts.astro';

let items = ['1', '2', '3'];
import MisionVision from '../components/MisionVision.astro';
import CarouselView from '../components/carousel/Carousel';
import ViewBestBrands from '../components/BestBrands/BestBrands';
import BestBrands from '../components/BestBrands.astro';
import Whatsapp from '../components/Whatsapp.astro';
---

<Layout title="ExacTec - Inicio">
  <Whatsapp />
  <section class="flex flex-col items-center justify-center bg-[#FFF]">
    <CarouselView client:load />
    <Welcome />
    <Services />
    <InfoProducts />
    <MisionVision />

    <span class="hidden md:block xl:block">
      <ViewBestBrands client:load />
    </span>
    <span class="block md:hidden xl:hidden">
      <BestBrands />
    </span>
  </section>
</Layout>
