---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- Section Bienvenido -->
    	<section class="flex items-center justify-center h-[444px] md:h-[469px] xl:h-[512]">
			<div class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-center w-[375px] md:w-[754px] xl:w-[1280px]">
				<p class="text-[26px] font-normal">
					¡Bienvenidos a Exactitud y Tecnología!
				<br /><br />
				<span class="text-[16px] font-light">
					<span class="font-bold">Exactitud y Tecnología</span>, es una empresa guatemalteca que brinda el
					<span class="font-bold">soporte y asesoría</span> necesaria para iniciar, ejecutar, mantener los 
					proyectos y procesos <span class="font-bold">que mejorarán la eficacia de su empresa.</span>
				</span>
				<br /><br />
				<span class="text-[16px] font-light">
			  	Nuestro personal posee <span class="font-bold">experiencia con más de 28 años</span> en el 
			  	tratamiento de equipo de medición, capacitado en fábricas y firmas reconocidas a nivel mundial.
				</span>
			</div>
    	</section>
  </main>
</Layout>

<style>
</style>
