---
import Layout from '../layouts/Layout.astro';
import CardProduct from '../components/Productos/CardProduct.astro';
import products from '../../public/productos.json';
---

<Layout title="Welcome to Astro.">
	<main class="px-9 bg-secondary-bg">
		<header class="lg:mx-[101px] pt-10 md:text-center">
			<h1 class="lg:text-5xl text-2xl md:text-5xl">Productos</h1>
			<p class="my-5 text-justify md:px-20 md:text-center">Sabemos que ser exactos y precisos es importante, por eso le ayudamos a contar con tecnología de vanguardia.</p>
		</header>
		<div class="md:flex md:mx-20 md:justify-between">
		<div class="hidden md:block md:w-60">
			<lu class="list-none [&>li]:py-1">
				<li><div class="border-b border-black py-2">Equipo para laboratorio</div></li>	
				<div class="border-b border-black py-2">Equipo industrial</div></li>	
				<div class="border-b border-black py-2">Microscopios / estereosmicroscopios</div></li>	
				<div class="border-b border-black py-2">Pesas patrón</div></li>	
				<div class="border-b border-black py-2">Indicadores de peso</div></li>	
				<div class="border-b border-black py-2">Cristalería para laboratorio</div></li>	
				<div class="border-b border-black py-2">Accesorios</div></li>	
			</lu>
		</div>

		<div class="md:hidden appearance-none overflow-hidden border flex px-4" >
			<select class="w-full h-10 border-0 appearance-none text-sm">
				<option>Equipo para laboratorio</option>	
				<option>Equipo industrial</option>	
				<option>Microscopios / estereosmicroscopios</option>	
				<option>Pesas patrón</option>	
				<option>Indicadores de peso</option>	
				<option>Cristalería para laboratorio</option>	
				<option>Accesorios</option>	
			</select>
			<img class="w-4 " src=`/vector-10.svg` alt="arrow" />
		</div>
		<div class="">
		{products.map(product =>(
			<CardProduct img={product.img} name={product.name} description={product.description}/>
			))}
		</div>
		</div>
	</main>
</Layout>
<style>

</style>