---
import Layout from '../layouts/Layout.astro';
import Products from '../components/Productos/Products';
---

<Layout title="ExacTec - Productos">
  <main class="bg-secondary-bg w-full">
    <div class="lg:max-w-[1240px] mx-auto px-[35px] md:px-[85px]">
      <header class="lg:mx-[101px] pt-10 md:text-center">
        <h1 class="lg:text-5xl text-2xl md:text-5xl">Productos</h1>
        <p class="my-5 text-justify md:px-20 md:text-center">
          Sabemos que ser exactos y precisos es importante, por eso le ayudamos a contar
          con tecnología de vanguardia.
        </p>
      </header>
      <Products client:load />
    </div>
  </main>
</Layout>
