---
import Layout from "../layouts/Layout.astro";
import ServiciosList from "../components/Servicios/ServiciosList.astro";
import ServiciosMaintenance from "../components/Servicios/ServiciosMaintenance.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ServiciosList/>

    <section class="mt-9 bg-secondary-bg">
      <figure class="flex justify-center">
        <img class="" src=`assets/img-servicios.png` alt="Logo" />
      </figure>
    </section>

    <ServiciosMaintenance/>
  </main>
</Layout>