---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="h-[1621px] px-[35px] py-[82px]">
      <header>
        <h2 class="text-2xl">Servicios</h2>
        <p>Dentro de nuestra amplia gama de servicios brindamos:</p>
      </header>
      <footer>
        <ul class="[&>li]:flex [&>li]:gap-x-3 [&>li]:items-start">
          <li>
            <img class="w-[11px]" src="Ellipse.svg" alt="Ellipse" /><span>
              Venta y asesoría técnica especializada para instalación de equipos
              de laboratorios en general</span
            >
          </li>
          <li>
            <img class="w-[11px]" src="Ellipse.svg" alt="Ellipse" /><span>
              Suministros, repuestos, calidad y garantía asegurada</span>
          </li>
          <li>
            <img class="w-[11px]" src="Ellipse.svg" alt="Ellipse" /><span>
              Capacitaciones sobre uso adecuado de equipos</span>
          </li>
          <li>
            <img class="w-[11px]" src="Ellipse.svg" alt="Ellipse" /><span>
              Soporte técnico a diversas industrias, tipos y marcas de equipo e
              instrumentación de medición</span
            >
          </li>
          <li>
            <img class="w-[11px]" src="Ellipse.svg" alt="Ellipse" /><span>
              Ajuste o calibración para equipos de pesaje con pesas patrón
              certificadas</span
            >
          </li>
          <li>
            <img class="w-[11px]" src="Ellipse.svg" alt="Ellipse" /><span>
              Calibración de pesas patrón individuales o set de pesas patrón</span
            >
          </li>
          <li>
            <img class="w-[11px]" src="Ellipse.svg" alt="Ellipse" /><span>
              Reparación de equipos de pesaje, indicadores, etc</span>
          </li>
        </ul>
      </footer>
    </section>
  </main>
</Layout>
