<div class="w-full mb-[61px] px-[35px] md:px-[95px] pt-[90px]">
    <div>
        <span class="">
            <p class="text-[26px] font-normal leading-[normal]">Las mejores marcas</p>
        </span>
        <span>
            <p class="mt-[24px] w-[305px]">
                En Exactec trabajamos con las mejores marcas para asegurar el 
                respaldo de los productos que adquiere con nosotros. <b>Trabajar con Exactec es 
                trabajar tambien con las mejores marcas.</b>
            </p>
        </span>
    </div>


    <div class="md:hidden xl:hidden flex flex-col items-center mt-[44px]">
        <img src="/assets/img-marcas-1.png" alt="" class="mb-[44px]">
        <img src="/assets/img-marcas-2.png" alt="" class="mb-[44px]">
        <img src="/assets/img-marcas-3.png" alt="" class="mb-[44px]">
        <img src="/assets/img-marcas-4.png" alt="" class="mb-[44px]">
        <img src="/assets/img-marcas-5.png" alt="" class="mb-[44px]">
        <img src="/assets/img-marcas-6.png" alt="">
    </div>
</div>