<div class="max-w-sm mx-auto">
    <div class="sm:col-span-2 xl:col-span-2 xl:w-[610px]">
      <div class="container mx-auto text-[16px] font-light leading[140%]">
        <img class="border-solid border-2 border-black"src="/assets/img-microscopio1.png"alt="Tecnología de vanguardia"class="w-64h-80"/>
        <sub class="font-bold">Microscopios</sub>
        <p>
            Instrumentos diseñados para laboratorio de cursos educativos, trabajo rutinario, veterinaria, laboratorios de investigación, para ver muestras con una fuente de luz; se incluyen microscopios compuestos, de infrarrojos, simples y estereoscópicos, así como lámparas y accesorios (microscopios con cámaras con software incluido).
        </p>
      </div>
    </div>
</div>

