	
	<div class="flex flex-col lg:flex-row lg:w-[1440px] lg:justify-between mx-9 justify-items-center items-center w-[412px] ">
        <img class="border-[0.6px] mb-5 border-black"src="/assets/img-microscopio1.png"alt="Tecnología de vanguardia"/>
        
        <div class="md:grid md:grid-cols-2 md:gap-x-6 xl:grid xl:grid-cols-2 xl:gap-x-6 md:mr-[82px] xl:mr-[100px]">
            <div class="md:col-span-2 xl:col-span-2 xl:w-[610px]">
              <div>
                <p class="text-[40px] font-normal leading-[normal]">Microscopios</p>
              </div>
              <br />
              <div class="container mx-auto text-[16px] font-light leading[140%]">
                <p>
                  Instrumentos diseñados para laboratorio de cursos educativos, trabajo rutinario, veterinaria, laboratorios de investigación, para ver muestras con una fuente de luz; se incluyen microscopios compuestos, de infrarrojos, simples y estereoscópicos, así como lámparas y accesorios (microscopios con cámaras con software incluido).
                </p>
              </div>
    </div>