<section class="flex flex-col items-center justify-center pl-[35px] md:pl-[81px] md:pt-[168px] xl:pl-[205px] xl:pr-[100px] xl:pt-[124px] py-[101px] bg-[#F1F7FB] px-[35px] md:px-[81px]">
  <div class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left">
    <div class="hidden md:block xl:block md:w-[290px] md:h-[539px] xl:w-[400px] xl:h-[743px] md:col-start-1 xl:col-start-1 md:float-left xl:float-left md:mr-[54px] xl:mr-[125px]">
      <img
        src="/assets/img-tecnologia-de-vanguardia.png"
        alt="Tecnología de vanguardia"
        class="w-[305px] h-[567px] object-cover rounded"/>
    </div>
    
    <div class="md:grid md:grid-cols-2 md:gap-x-6 xl:grid xl:grid-cols-2 xl:gap-x-6">
      <div class="md:col-span-2 xl:col-span-2">
        <div>
          <p class="text-[40px] font-normal leading-[normal]">Le ayudamos a contar con tecnología de vanguardia</p>
        </div>
        <br />
        <div class="container mx-auto text-[16px] font-light leading-[140%]">
          <p>
            Nos especializamos en venta de equipo de medición, soporte técnico, reparación, mantenimiento
            preventivo/correctivo y calibración a equipos de laboratorio, medición y control.
            <br /><br />

             Exactitud y Tecnología posee las herramientas necesarias para realizar el ajuste y/o calibración a instrumentos
            de pesaje acorde a las normas nacionales e internacionales de metrología aplicadas a los instrumentos de pesaje,
            a través de personal calificado para realizarlo.
          </p>
        </div>

        <div class="mt-[43px]">
          <button
            type="button"
            onclick="location.href='./productos'"
            class="border border-[#1B75BB] w-[224px] h-[49px] text-[#1B75BB] hover:bg-[#1B75BB] duration-[0.5s] hover:text-white flex items-center justify-center xl:cursor-pointer text-[16px]">
            Ver productos</button>
        </div>
      </div>
      <br /><br />
      <div class="md:hidden xl:hidden mt-6">
        <img
          src="/assets/img-tecnologia-de-vanguardia.png"
          alt="Tecnología de vanguardia"
          class="w-[305px] h-[567px] object-cover rounded"/>
      </div>
    </div>
  </div>
</section>
