<div
  class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left md:text-center xl:text-center mb-[61px] px-[35px] md:px-[95px] pt-[90px] xl:px-[205px]"
>
  <div class="container mx-auto">
    <div class="block md:flex xl:flex gap-[77px]">
      <div class="w-full md:w-2/3">
        <div class="mb-10">
          <!-- Misión -->
          <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
            <img
              src="/icono-mision.svg"
              alt=""
              class="object-cover rounded inline-block"
            />
            <p class="text-[40px] font-normal leading-[normal]">Misión</p>
          </div>

          <p class="text-left font-light pl-0 lg:px-[50px] transition-[padding-left]">
            Garantizar soluciones efectivas a las necesidades de los clientes para sus
            procesos con sus instrumentos de pesaje, automatización de procesos, enfocado
            en la continua mejora, brindándole garantía eficaz en equipos y asesoría
            técnica con el personal técnico capacitado para satisfacer los requerimientos
            específicos de nuestros clientes.
          </p>
        </div>
        <div class="mt-[47px]">
          <!-- Visión -->
          <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
            <img
              src="/icono-vision.svg"
              alt=""
              class="object-cover rounded inline-block"
            />
            <p class="text-[40px] font-normal leading-[normal]">Visión</p>
          </div>

          <p class="text-left font-light pl-0 lg:px-[50px] transition-[padding-left]">
            Ser una empresa líder de la industria en venta y servicios de calibración,
            estando a la vanguardia con la nueva tecnología en equipos de pesaje,
            demostrando calidad y exactitud.
          </p>
        </div>
      </div>
      <div class="mt-10 md:mt-0 md:w-[295px] w-auto xl:w-[505px]">
        <!-- Imagen -->
        <img
          src="/img-mision-vision.png"
          alt="Misión y Visión"
          class="object-cover rounded w-full h-full object-[0%_0%] md:object-[100%_0%]"
        />
      </div>
    </div>
  </div>
</div>
<div class="h-[1px] w-[calc(100%_-_35px)] bg-[#C1C1C1]"></div>
