<div class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left md:text-center xl:text-center mb-[61px] px-[35px] md:px-[95px] pt-[90px]">
    <div class="container mx-auto p-4">
        <div class="block-1 md:flex xl:flex">
            <div class="md:w-2/3">
                <div class="mb-10 mr-[20px]">
                    <!-- Misión -->
                    <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
                        <img src="/public/icono-mision.svg" alt="" class="object-cover rounded inline-block" />
                        <p class="text-[40px] font-normal leading-[normal]">Misión</p>
                    </div>
                    <p class="h-[275px] md:h-[267px] xl:h-[180px] w-[305px] md:w-[253px] xl:w-[368px] text-left">
                        Garantizar soluciones efectivas a las necesidades de los clientes para sus procesos con sus 
                        instrumentos de pesaje, automatización de procesos, enfocado en la continua mejora, brindándole 
                        garantía eficaz en equipos y asesoría técnica con el personal técnico capacitado para satisfacer 
                        los requerimientos específicos de nuestros clientes.
                    </p>
                </div>
                <div class="mr-[20px]">
                    <!-- Visión -->
                    <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
                        <img src="/public/icono-vision.svg" alt="" class="object-cover rounded inline-block" />
                        <p class="text-[40px] font-normal leading-[normal]">Visión</p>
                    </div>
                    <p class="h-[152px] md:h-[152px] xl:h-[94px] w-[305px] md:w-[253px] xl:w-[368px] text-left">
                        Ser una empresa líder de la industria en venta y servicios de calibración, estando a la vanguardia 
                        con la nueva tecnología en equipos de pesaje, demostrando calidad y exactitud.
                    </p>
                </div>
            </div>
            <div class="">
                <!-- Imagen -->
                <img 
                src="/public/img-mision-vision.png"
                alt="Misión y Visión"
                class="object-cover rounded w-full h-full"/>
            </div>
        </div>
    </div>
  </div>
  <div class="h-[1px] w-[calc(100%_-_35px)] bg-[#C1C1C1]"></div>
