<div class="h-[1px] w-[calc(100%_-_35px)] bg-[#C1C1C1]"></div>
<section class="flex flex-col xl:flex-row">
  <div class="flex items-center justify-center bg-white pt-14 px-[35px]">
    <div class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left">
      <div>
        <span class="text-[26px] md:text-[40px] font-normal">Nuestros servicios</span>
      </div>
      <br />
      <div class="container mx-auto text-[16px] font-light">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2">
          <div class="md:col-span-1 xl:col-span-1">
            <div class="flex gap-[14px] flex-row items-start md:flex-row xl:flex-row">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block mt-1" />
              <p>Venta y asesoría técnica especializada para instalación de equipos de laboratorios en general</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Ingeniería</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Medición</p>
            </div>
          </div>

          <div class="md:col-span-1 xl:col-span-1">
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Análisis y muestreo de productos</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Recolección de datos</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Software de pesaje</p>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="hidden md:block xl:hidden md:w-[444px] md:h-[486px] md:col-start-3 md:float-right md:mt-1">
        <img src="/assets/img-nuestros-servicios.png" alt="Nuestros servicios" class="w-full object-cover rounded" />
      </div>
      <div>
        <p class="text-[16px] font-light">Proveemos soporte técnico a diversos equipos de diferentes marcas como:</p>
      </div>
      <br />
      <div class="container mx-auto text-[16px] font-light">
        <div class="grid grid-cols-2 md:grid-cols-2 xl:grid-cols-2">
          <div class="md:col-span-1 xl:col-span-1">
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Ohaus</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Rice Lake</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Sartous</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Hi-Weigh</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>CAS</p>
            </div>
          </div>
          <div class="md:col-span-1 xl:col-span-1">
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Dini-Argeo</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Camry</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>AND</p>
            </div>
            <div class="flex gap-[14px] flex-row md:flex-row xl:flex-row items-center">
              <img src="/assets/Ellipse.svg" alt="" class="object-cover rounded inline-block" />
              <p>Fairbanks</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="hidden md:hidden xl:block xl:mt-[250px] xl:w-[778px] xl:h-[852px] xl:col-start-3 xl:float-right">
      <img src="/assets/img-nuestros-servicios.png" alt="Nuestros servicios" class="w-full object-cover rounded" />
    </div> -->
  </div>
  <img src="/assets/img-nuestros-servicios.png" alt="Nuestros servicios" class="w-full object-cover rounded" />
</section>
