<div
  class="text-[#2F2F2F] font-inter not-italic leading-[22.4px] text-left md:text-center xl:text-center mb-[61px] px-[35px] md:px-[95px] pt-[95px] md:pt-[10px] xl:landscape:pt-[95px] 2xl:landscape:mb-[130px] landscape:pt-[95px]"
>
  <p class="text-[26px] font-normal xl:max-w-[820px] max-w-max">
    <span class="leading-normal">¡Bienvenidos a Exactitud y Tecnología!</span>
    <br /><br />
    <span class="text-[16px] font-light">
      <b>Exactitud y Tecnología</b>, es una empresa guatemalteca que brinda el
      <span class="font-bold">soporte y asesoría</span> necesaria para iniciar, ejecutar,
      mantener los proyectos y procesos <b class="font-semibold"
        >que mejorarán la eficacia de su empresa.</b
      >
    </span>
    <br />
    <br />
    <span class="text-[16px] font-light">
      Nuestro personal posee <b class="font-semibold">experiencia con más de 28 años</b>
       en el tratamiento de equipo de medición, capacitado en fábricas y firmas
      reconocidas a nivel mundial.
    </span>
  </p>
</div>
