<a
  href="https://wa.me/50257558774?text=Hola!"
  rel="noopener noreferrer"
  target="_blank"
  class="rounded-full z-40 relative"
>
  <div
    class="fixed right-5 bottom-5 xl:right-10 xl:bottom-10 rounded-full h-auto w-auto cursor-pointer hover:animate-jump animate-once animate-duration-1000 animate-ease-out"
  >
    <svg
      width="106"
      height="106"
      viewBox="0 0 106 106"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Whatsapp">
        <g id="Ellipse 33" filter="url(#filter0_d_177_962)">
          <circle cx="53" cy="51" r="43" fill="#34CC32"></circle>
        </g>
        <path
          id="Vector"
          d="M30.4355 73.5643L33.6837 61.4976C31.8422 58.194 30.8831 54.4949 30.8831 50.732C30.8703 38.4358 40.8961 28.4355 53.2237 28.4355C65.5513 28.4355 75.577 38.4358 75.577 50.732C75.577 63.0283 65.5513 73.0285 53.2237 73.0285C49.528 73.0285 45.8706 72.0974 42.5969 70.3244L30.4355 73.577L30.4355 73.5643ZM43.2107 65.7834L43.978 66.2426C46.7913 67.9136 49.9883 68.7937 53.2237 68.7937C63.2111 68.7937 71.3442 60.6813 71.3442 50.7193C71.3442 40.7573 63.2111 32.6448 53.2237 32.6448C43.2363 32.6448 35.1032 40.7573 35.1032 50.732C35.1032 54.0229 36.0239 57.2628 37.7503 60.1073L38.2234 60.8726L36.4075 67.6075L43.1979 65.7962L43.2107 65.7834Z"
          fill="white"></path>
        <path
          id="Vector_2"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M61.5358 53.8319C60.615 53.2834 59.413 52.6711 58.3388 53.1176C57.5076 53.462 56.9705 54.7503 56.4334 55.4135C56.152 55.7579 55.8323 55.809 55.3975 55.6304C52.2773 54.3931 49.8859 52.314 48.1596 49.444C47.8654 48.9976 47.9166 48.6532 48.2746 48.2322C48.799 47.62 49.4511 46.9312 49.5918 46.1021C49.7325 45.273 49.3488 44.3163 49.0036 43.5893C48.5688 42.6581 48.0828 41.3188 47.1365 40.7831C46.2669 40.2984 45.1288 40.5662 44.3615 41.1912C43.0316 42.2755 42.3922 43.9592 42.405 45.6429C42.405 46.1148 42.4689 46.5995 42.584 47.0587C42.8526 48.1685 43.3641 49.2016 43.9395 50.1838C44.3743 50.9236 44.8475 51.6379 45.359 52.3395C47.0342 54.5972 49.1059 56.5615 51.51 58.0412C52.7121 58.781 54.0037 59.4187 55.3464 59.8652C56.8426 60.3626 58.1853 60.8729 59.8094 60.5667C61.5102 60.2479 63.1854 59.2019 63.8632 57.5692C64.0678 57.0845 64.1573 56.5488 64.055 56.0386C63.8248 54.9799 62.3926 54.3548 61.5358 53.8446V53.8319Z"
          fill="white"></path>
      </g>
      <defs>
        <filter
          id="filter0_d_177_962"
          x="0"
          y="0"
          width="106"
          height="106"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="2"></feOffset>
          <feGaussianBlur stdDeviation="5"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.00392157 0 0 0 0 0.0901961 0 0 0 0 0.776471 0 0 0 0.35 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_177_962"></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_177_962"
            result="shape"></feBlend>
        </filter>
      </defs>
    </svg>
  </div>
</a>
