---
import Paginator from './Paginator.astro';
---

<section class="w-full relative h-auto">
  <div class="flex flex-col px-[35px] mt-[53px] z-[3] relative">
    <div class="flex flex-col">
      <span class="text-[30px] leading-[normal]"
        >Microscopios y estereoscopios de alta tecnología</span
      >

      <button
        class="min-w-[224px] border border-[#1B75BB] text-center py-3 mt-10 w-fit text-[#1B75BB] bg-transparent hover:bg-[#1B75BB] hover:text-white cursor-pointer transition-all"
        >Ver productos</button
      >
    </div>

    <div class="relative flex top-10">
      <img
        src="/assets/weight-machine.png"
        alt="weight-machine"
        class="w-[158px] h-[213px]"
      />
      <img
        src="/assets/ohaus.png"
        alt="ohaus"
        class="w-[188.955px] h-[88.524px] relative top-[50px] -left-[23px]"
      />
    </div>
  </div>
  <div class="w-full bg-[#F3F3F3] h-[29.8125rem] absolute top-0 z-[1]">
    <Paginator />
  </div>
</section>
