---
let items = ['one', 'two', 'three', 'four'];
let selected = 2;
---

<div
  class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 right-[35px] flex flex-col gap-3"
>
  {
    items.map((value, index) => {
      if (index === selected - 1) {
        return <div class="rounded-full h-[13px] w-[13px] bg-[#6A6A6A]" />;
      }
      return <div class="rounded-full h-[13px] w-[13px] bg-[#CCCCCC]" />;
    })
  }
</div>
