---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <script>
        const nav = document.querySelector('.navbar');
        const navLinks = nav.querySelectorAll('a');
        const currentURL = window.location.href;
        navLinks.forEach((link) => {
          if (link.href === currentURL) {
            link.classList.add('active');
          }
        });

        let toggle = document.getElementById('toogle');
        toggle.addEventListener('click', () => {
          document.querySelector('.mobile-menu').classList.toggle('open');
          toggle.classList.toggle('active');
        });
      </script>

      <nav
        class="drop-shadow-md min-w-[375px] w-full h-28 flex justify-between items-center px-[35px] md:px-[81px] bg-secondary-bg"
      >
        <a href="/" class="cursor-pointer w-[163px]">
          <img class="w-full" src=`/logo.png` alt="Logo" />
        </a>

        <div class="flex justify-center items-center">
          <div class="hidden lg:block">
            <ul class="flex list-none p-0 navbar">
              <li class="me-[45px]">
                <a class="decoration-none text-inherit" href="/">Inicio</a>
              </li>
              <li class="me-[45px]">
                <a class="decoration-none text-inherit" href="/productos/">Productos</a>
              </li>
              <li class="me-[45px]">
                <a class="decoration-none text-inherit" href="/servicios/">Servicios</a>
              </li>
              <li class="me-[45px]">
                <a class="decoration-none text-inherit" href="/contacto/">Contáctenos</a>
              </li>
            </ul>
          </div>

          <div class="hidden lg:block rounded-2xl border relative flex px-[10px]">
            <input class="focus:outline-none" type="text" placeholder="Buscar producto" />
            <i class="material-icons icon">search</i>
          </div>
          <div class="lg:hidden">
            <div class="container">
              <div class="toggle" id="toogle">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div
      class="bg-[#1B75BB] w-full h-[209px] absolute left-0 top-[7rem] z-50 px-[35px] py-[18px] translate-x-[-500px] md:translate-x-[-1100px] lg:hidden transition-all mobile-menu"
    >
      <ul
        class="text-white text-sm pointer h-[35px] font-[300] mt-[12px] border-b-white border-b"
      >
        <a href="/">Inicio</a>
      </ul>
      <ul
        class="text-white text-sm pointer h-[35px] font-[300] mt-[12px] border-b-white border-b"
      >
        <a href="/productos">Producto</a>
      </ul>
      <ul
        class="text-white text-sm pointer h-[35px] font-[300] mt-[12px] border-b-white border-b"
      >
        <a href="/servicios">Servicio</a>
      </ul>
      <ul class="text-white text-sm pointer h-[35px] font-[300] mt-[12px]">
        <a href="/contacto">Contáctenos</a>
      </ul>
    </div>
  </body>

  <slot />

  <footer class="h-[595px] w-full md:h-[355px] bg-primary-bg">
    <div
      class="flex flex-col md:px-[90px] px-9 py-12 justify-between md:justify-items-center md:items-center bg-primary-bg h-full w-full md:grid md:grid-cols-3 md:gap-3"
    >
      <figure class="w-[304px] md:w-[211px]">
        <img class="w-full" src=`/img-logo.png` alt="Logo" />
      </figure>

      <ul class="[&>li]:mb-1">
        <li><a href="/productos"> Productos</a></li>
        <li><a href="/servicios"> Servicios</a></li>
        <li><a href="/contacto"> Contáctenos</a></li>
      </ul>

      <ul class="[&>li]:mb-1">
        <li><p>Info</p></li>

        <li class="flex">
          <figure class="w-[27px] me-[10px]">
            <img class="w-full" src=`/icono-mail.svg` alt="Logo" />
          </figure><p>info@exactec.com.gt</p>
        </li>
      </ul>
      <p class="pe-7 md:pe-0 col-span-2 md:justify-self-start">
        Todos los derechos reservados, Exactitud y Tecnología.
      </p>
      <p class="">www.exactec.com.gt</p>
    </div>
  </footer>
</html>

<style is:global>
  @import '../_astro.css';
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }

  .active,
  .nav-item:hover {
    color: #1b75bb !important;
    font-weight: 600;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }
  .toggle {
    position: relative;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .toggle span {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 4px;
    transform: translateX(0);
    transition: 1s;
  }
  .toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
    transition: 1s;
  }
  .toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 15px;
    left: 15px;
    transition: 1s;
  }

  .toggle.active span:nth-child(1) {
    transform: translateY(0px) rotate(45deg);
    width: 40px;
    transition-delay: 0.125s;
  }
  .toggle.active span:nth-child(2) {
    width: 40px;
    transform: translateY(0px) rotate(315deg);
  }
  .toggle.active span:nth-child(3) {
    transform: translateX(70px);
  }
</style>
